#header {
    background-color: #ddd;
    min-height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
}

#flex-wrapper {
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-img {
    padding: 15px;
}

#nav-bar {
    padding-right: 15px;
    ul {
        display: flex;
        flex-wrap: nowrap;
        @include lessThan450 {
            flex-direction: column;
            text-align: right;
        }
        li {
            list-style: none;
            padding-left: 15px;
            a {
                text-decoration: none;
                font-size: 20px;
                color: $mainBlue;
                &:hover {
                    color: $mainOrange;
                }
            }
        }
    }
}

#main-heading {
    margin-top: 130px;
    margin-bottom: 0;
    padding: 200px 0;
    text-align: center;
    background-color: $mainBlue;
    color: #fff;
}